<style>
.developer_ {
  text-align: justify;
  text-align-last: justify;
  color:cyan;
  font-size: 14px;
  background: linear-gradient(
    to right, 
    #A6CE37, #ECE71C, #0FC6E6, #F95D44, #816271, #9F1958, #081B6A, #59D7EE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800px;
  background-position: center 0%;
  animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
}
.to {
background: linear-gradient(45deg, #f22613, #f89406, #26a65b, #5868ec, #f54e80, #f7ca18, #d2527f);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}
@-webkit-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.freqOptionLock {
clear:both;
padding:10px 10px 10px 10px;
#margin-bottom:4px;
#font-size: 16px;
border: 2px solid #FFFFFF;
border-radius: 9px;
background-color: black;
}

.freqOptionLock span{
font-weight: bold;
color:cyan;
font-size: 10px;
margin-bottom: 5px;
}
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.gut {
clear:both;
padding:3px 3px 3px 3px;
#margin-bottom:4px;
#font-size: 12px;
border: 2px solid #5DD6F3;
border-radius: 4px;
background: linear-gradient(
    to right, 
    #A6CE37, #ECE71C, #0FC6E6, #F95D44, #816271, #9F1958, #081B6A, #59D7EE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800px;
  background-position: center 0%;
  animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
</style>
<fieldset class="gut">
							<legend class="gut"><font color="cyan"><i>CREDIT<i></font></legend>
							<div class="developer_">
		<span id="_Dreamacro"><%:Dreamacro%></span>
		<span id="_vernesong"><%:Vernesong%></span>
		<span id="_frainzy1477"><%:Frainzy1477%></span>
		<span id="_SukkaW"><%:SukkaW%></span>
		<span id="_lhie1_dev"><%:lhie1_dev%></span>
		<span id="_ConnersHua_dev"><%:ConnersHua_dev%></span>
		<span id="_haishanh"><%:Haishanh%></span>
		<span id="_MaxMind"><%:MaxMind%></span>
		<span id="_FQrabbit"><%:FQrabbit%></span>
		<span id="_Alecthw"><%:Alecthw%></span>
		<span id="_Tindy_X"><%:Tindy_X%></span>
		<span id="_lmc999"><%:lmc999%></span>
		<span id="_dlercloud"><%:Dlercloud%></span>
		<span id="_immortalwrt"><%:Immortalwrt%></span>
		<span id="_MetaCubeX"><%:MetaCubeX%></span>
	</div>
</fieldset>
